---
layout: default
title: The Archives
---
{% capture pdate %}empty{% endcapture %}
{%for post in site.posts %}
  {% capture cdate %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if cdate != pdate %}
    {% if pdate != 'empty' %}
      </ul>
    {% endif %}
    <h3>{{ post.date | date: '%Y' }}</h3>
    <ul>
  {% endif %}
  <li>
    <time>{{ post.date | date: "%B %d" }}</time>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% capture pdate %}{{ cdate }}{% endcapture %}
{% endfor %}
</ul>
