<header class="site-header">
  <div class="site-header-inner">
    <a href="/" class="site-brand" rel="home" title="{{ site.title }}">{{ site.title }}</a>
    <span class="site-tagline">{{ site.description }}</span>
    <nav role="navigation" id="site-nav">
      <ul>
      {% for link in site.data.navigation %}
        <li><a href="{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
      {% endfor %}
        {% if site.search %}<li class="dosearch"><span>{% include icon.html name='search' %} Search</span></li>{% endif %}
      </ul>
    </nav>
  </div><!-- /.site-header-inner -->
</header><!-- /.site-header -->

{% include browser-upgrade.html %}

{% if site.search %}{% include site-search.html %}{% endif %}

<div class="js-menu-screen menu-screen"></div>
