<ul class="social-icons">
  {% if site.owner.linkedin %}<li><a href="https://linkedin.com/in/{{ site.owner.linkedin }}" title="{{ site.owner.name}} on LinkedIn" target="_blank">{% include icon.html name='linkedin' %}</a></li>{% endif %}
  {% if site.owner.github %}<li><a href="https://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank">{% include icon.html name='github' %}</a></li>{% endif %}
  {% if site.owner.twitter %}<li><a href="https://x.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on X" target="_blank">{% include icon.html name='twitter' %}</a></li>{% endif %}
</ul>
