/* header */
.navbar {
  background-image: linear-gradient(#373737, #212121);
  color: white;
  padding-bottom: 15px;
  margin-bottom: 0;
}

/* tagline */
a.tagline {
  color: #999;
}
a.tagline:hover {
  text-decoration: none;
}
a.tagline strong {
  color: #0090ff;
}
a.tagline .text-primary {
  color: white;
}

/* contact links */
.contact-links {
  font-size: 1.5em;
  line-height: 1.5em;
}

/* post header */
.page-header {
  margin-top: 5px;
  margin-bottom: 15px;
  border-bottom: 2px solid #DDD;
}

/* post body */
.post {
  padding-bottom: 15px;
}

/* author bio */
.author-bio h2 {
  margin-top: 0;
}

/* related posts */
.related-posts ul {
  padding-left: 15px;
}

/* archive page styles */
time:after {
  content: " - ";
}

/* footer */
footer {
  margin-top: 25px;
  padding: 20px;
  color: #999;
  font-size: 0.8em;
  background-image: linear-gradient(#373737, #212121);
}
