<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Ryan Sonnek : Life is too short for failing tests..." />

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed">

    <title>{{ site.author.name }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">{{ site.author.name }}</h1>
          <h2 id="project_tagline">
            <a class="logo" href="/">
              [<em>code</em>crate]
            </a>
            Building better <em>code</em>
          </h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      {% include sidebar.html %}

      <section id="main_content" class="inner post">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Copyright © 2013 {{ site.author.name }}. All Rights Reserved.</p>
      </footer>
    </div>

    {% include analytics.html %}
  </body>
</html>
